.button {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  height: 50%;
  padding: 1rem;
}

.button:hover {
  cursor: pointer;
}

.button--green {
  background-color: #5be308;
}

.button--yellow {
  background-color: #fed766;
  padding: 0px 1rem;
  margin-top: 0.7rem;
}

.button--orange {
  background-color: #fc9918;
  padding: 0px 1rem;
  margin-top: 0.7rem;
}
